<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <p>{{ nome }}</p>
    {% for produto in produtos %}
        <ul>
            <li>{{ produto.nome }}</li>
            <li>{{ produto.descricao }}</li>
            <li>R$ {{ produto.preco }}</li>
        </ul>
    {% endfor %}
    {% if produto %}
    <p>Produto: {{ produto }}</p>
    {% endif %}
</body>
</html>